In [1]:
uname = "cse482"
pwd = "cse482"
hname = "localhost"
dbname = "cse482"

import mysql.connector
from mysql.connector import errorcode

try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()
    query = "DROP TABLE IF EXISTS User"
    cursor.execute(query)

    query = """ CREATE TABLE IF NOT EXISTS User 
                    (ID BIGINT PRIMARY KEY,
                    Password VARCHAR(200),
                    Name VARCHAR(200),
                    Location VARCHAR(200))
            """
    
    cursor.execute(query)
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

In [20]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()
    query = "DROP TABLE IF EXISTS Artist"
    cursor.execute(query)

    query = """ CREATE TABLE IF NOT EXISTS Artist 
                    (ID BIGINT PRIMARY KEY,
                    Name VARCHAR(200),
                    Birthyear VARCHAR(200))
            """
    
    cursor.execute(query)
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

Cannot drop table 'artist' referenced by a foreign key constraint 'song_ibfk_1' on table 'Song'.

In [3]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()
    query = "DROP TABLE IF EXISTS Song"
    cursor.execute(query)

    query = """ CREATE TABLE IF NOT EXISTS Song 
                    (ID BIGINT PRIMARY KEY,
                    Title VARCHAR(200),
                    Album VARCHAR(200),
                    ArtistID BIGINT,
                    FOREIGN KEY (ArtistID) REFERENCES Artist(ID))
            """
    
    cursor.execute(query)
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

In [4]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()
    query = "DROP TABLE IF EXISTS Play"
    cursor.execute(query)

    query = """ CREATE TABLE IF NOT EXISTS Play 
                    (ID BIGINT PRIMARY KEY,
                    UserID BIGINT,
                    SongID BIGINT,
                    Timestamp VARCHAR(200),
                    FOREIGN KEY (UserID) REFERENCES User(ID),
                    FOREIGN KEY (SongID) REFERENCES Song(ID)
                    )
            """
    
    cursor.execute(query)
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

In [11]:
users = [{"ID":1,"Password":"a","Name":"A","Location":"here"},
        {"ID":2,"Password":"a","Name":"B","Location":"here"},
        {"ID":3,"Password":"a","Name":"C","Location":"here"},
        {"ID":4,"Password":"a","Name":"D","Location":"here"},
        {"ID":5,"Password":"a","Name":"E","Location":"here"},
        {"ID":6,"Password":"a","Name":"F","Location":"here"},
        {"ID":7,"Password":"a","Name":"G","Location":"here"}]

In [13]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()
    
    for u in users:
        query = """ 
        INSERT INTO User VALUES
        ('{}','{}','{}','{}')
        """.format(u['ID'],u['Password'],u['Name'],u['Location'])
    
        cursor.execute(query)
    
    cnx.commit()
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

In [14]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()

    query = """ 
                SELECT * from cse482.User
            """
    cursor.execute(query)
    
    for row in cursor:
        print(row)
        
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

(1, u'a', u'A', u'here')
(2, u'a', u'B', u'here')
(3, u'a', u'C', u'here')
(4, u'a', u'D', u'here')
(5, u'a', u'E', u'here')
(6, u'a', u'F', u'here')
(7, u'a', u'G', u'here')

In [15]:
artist = [{"ID":1,"Name":"Michael Jackson","Birthyear":"99"},
        {"ID":2,"Name":"Z","Birthyear":"99"},
        {"ID":3,"Name":"zz","Birthyear":"99"},
        {"ID":4,"Name":"za","Birthyear":"99"},
        {"ID":5,"Name":"zs","Birthyear":"99"},
        {"ID":6,"Name":"zd","Birthyear":"99"},
        {"ID":7,"Name":"zf","Birthyear":"99"}]

In [18]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()
    
    for a in artist:
        query = """ 
        INSERT INTO Artist VALUES
        ('{}','{}','{}')
        """.format(a['ID'],a['Name'],a['Birthyear'])
    
        cursor.execute(query)
    
    cnx.commit()
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

In [21]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()

    query = """ 
                SELECT * from cse482.Artist
            """
    cursor.execute(query)
    
    for row in cursor:
        print(row)
        
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

(1, u'Michael Jackson', u'99')
(2, u'Z', u'99')
(3, u'zz', u'99')
(4, u'za', u'99')
(5, u'zs', u'99')
(6, u'zd', u'99')
(7, u'zf', u'99')

In [23]:
song = [{"ID":1,"Title":"t1","Album":"a1","ArtistID":1},
        {"ID":2,"Title":"t2","Album":"a1","ArtistID":1},
        {"ID":3,"Title":"t3","Album":"a1","ArtistID":1},
        {"ID":4,"Title":"t4","Album":"a1","ArtistID":1},
        {"ID":5,"Title":"t5","Album":"a1","ArtistID":2},
        {"ID":6,"Title":"t6","Album":"a1","ArtistID":2},
        {"ID":7,"Title":"t7","Album":"a1","ArtistID":3}]

In [24]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()
    
    for s in song:
        query = """ 
        INSERT INTO Song VALUES
        ('{}','{}','{}','{}')
        """.format(s['ID'],s['Title'],s['Album'],s['ArtistID'])
    
        cursor.execute(query)
    
    cnx.commit()
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

In [25]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()

    query = """ 
                SELECT * from cse482.Song
            """
    cursor.execute(query)
    
    for row in cursor:
        print(row)
        
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

(1, u't1', u'a1', 1)
(2, u't2', u'a1', 1)
(3, u't3', u'a1', 1)
(4, u't4', u'a1', 1)
(5, u't5', u'a1', 2)
(6, u't6', u'a1', 2)
(7, u't7', u'a1', 3)

In [26]:
play = [{"ID":1,"UserID":1,"SongID":1,"Timestamp":"11"},
        {"ID":2,"UserID":1,"SongID":2,"Timestamp":"11"},
        {"ID":3,"UserID":2,"SongID":3,"Timestamp":"11"},
        {"ID":4,"UserID":2,"SongID":3,"Timestamp":"11"},
        {"ID":5,"UserID":3,"SongID":7,"Timestamp":"11"},
        {"ID":6,"UserID":4,"SongID":6,"Timestamp":"11"},
        {"ID":7,"UserID":5,"SongID":5,"Timestamp":"11"}]

In [27]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()
    
    for p in play:
        query = """ 
        INSERT INTO Play VALUES
        ('{}','{}','{}','{}')
        """.format(p['ID'],p['UserID'],p['SongID'],p['Timestamp'])
    
        cursor.execute(query)
    
    cnx.commit()
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

In [93]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()

    query = """ 
                SELECT * from cse482.Play
            """
    cursor.execute(query)
    
    for row in cursor:
        print(row)
        
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

(1, 1, 1, u'11')
(2, 1, 2, u'11')
(3, 2, 3, u'11')
(4, 2, 3, u'11')
(5, 3, 7, u'11')
(6, 4, 6, u'11')
(7, 5, 5, u'11')

In [29]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()

    query = """ 
                SELECT DISTINCT Play.UserID
                FROM Play, Song, Artist
                WHERE (Play.SongID = Song.ID AND 
                Song.ArtistID = Artist.ID AND 
                Artist.Name = "Michael Jackson")
            """
    cursor.execute(query)
    
    for row in cursor:
        print(row)
        
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

(1,)
(2,)

In [30]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()

    query = """ 
            SELECT DISTINCT p.UserID
            From Play AS p
            WHERE ( 
                SELECT COUNT(DISTINCT p2.SongID) 
                From Play AS p2, Song AS s2, Artist AS a2
                WHERE p.UserID = p2.UserID AND
                p2.SongID = s2.ID AND 
                s2.ArtistID = a2.ID AND 
                a2.Name = "Michael Jackson"
                ) >= 2
            """
    cursor.execute(query)
    
    for row in cursor:
        print(row)
        
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

(1,)

In [62]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()

    query = """ 
                SELECT Song.Title, d.c
                FROM Song, 
                    (SELECT Play.SongID as b, COUNT(Play.SongID) as c
                    FROM Play 
                    GROUP BY Play.SongID
                    ORDER BY c DESC
                    Limit 1) as d
                WHERE Song.ID = d.b
            """
    cursor.execute(query)
    
    for row in cursor:
        print(row)
        
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

(u't3', 2)

In [99]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=dbname)
    cursor = cnx.cursor()

    query = """ 
                SELECT s1.Title
                FROM SONG as s1
                WHERE NOT EXISTS (
                    SELECT DISTINCT s2.Title
                    FROM Play, Song as s2
                    WHERE Play.SongID = s2.ID AND
                    s1.ID = s2.ID)
            """
    cursor.execute(query)
    
    for row in cursor:
        print(row)
        
    cursor.close()
    cnx.close()
    
except mysql.connector.Error as e:
    print(e.msg)       # error message

(u't4',)