# Code Example from Lecture 12

This notebook contains example code for creating association rules from data. You must first download the apriori software from http://www.borgelt.net/apriori.html. Make sure you install the executable file in the folder as this notebook.

In [1]:
import pandas as p

data = p.read_csv('Titanic.csv',header=None)
data.head()

            0      1     2         3
0  FirstClass  Adult  Male  Survived
1  FirstClass  Adult  Male  Survived
2  FirstClass  Adult  Male  Survived
3  FirstClass  Adult  Male  Survived
4  FirstClass  Adult  Male  Survived

In [2]:
data[0].value_counts()

Crew           885
ThirdClass     706
FirstClass     325
SecondClass    285
Name: 0, dtype: int64

In [3]:
data[1].value_counts()

Adult    2092
Child     109
Name: 1, dtype: int64

In [4]:
data[2].value_counts()

Male      1731
Female     470
Name: 2, dtype: int64

In [5]:
data[3].value_counts()

Died        1490
Survived     711
Name: 3, dtype: int64

In [6]:
!apriori -s5ts Titanic.csv freqiset.txt

apriori - find frequent item sets with the apriori algorithm
version 6.27 (2017.08.01)        (c) 1996-2017   Christian Borgelt
reading Titanic.csv ... [10 item(s), 2201 transaction(s)] done [0.00s].
filtering, sorting and recoding items ... [9 item(s)] done [0.00s].
sorting and reducing transactions ... [24/2201 transaction(s)] done [0.00s].
building transaction tree ... [36 node(s)] done [0.00s].
checking subsets of size 1 2 3 4 done [0.00s].
writing freqiset.txt ... [63 set(s)] done [0.00s].

In [7]:
!apriori -m2n4s5c80tr Titanic.csv rules.txt

apriori - find frequent item sets with the apriori algorithm
version 6.27 (2017.08.01)        (c) 1996-2017   Christian Borgelt
reading Titanic.csv ... [10 item(s), 2201 transaction(s)] done [0.00s].
filtering, sorting and recoding items ... [10 item(s)] done [0.00s].
sorting and reducing transactions ... [24/2201 transaction(s)] done [0.00s].
building transaction tree ... [38 node(s)] done [0.00s].
checking subsets of size 1 2 3 4 done [0.00s].
writing rules.txt ... [51 rule(s)] done [0.00s].