# CSE 482: Big Data Analysis (Spring 2019) Homework 3

Due date: Monday, March 18, 2019 (before midnight)

Submit your homework using the D2L system. Use the notebook below to write the solution of your homework. Make sure you submit the notebook along with its HTML version.

**1.** Consider the patient visit records shown in the table below:

| Visit ID | Symptoms 
|:--|:--:
| 1 | Fever, Cough, Headache, Diarrhea
| 2 | Fever, Headache
| 3 | Cough, Headache, Fatigue
| 4 | Cough, Diarrhea, Fatigue
| 5 | Fever, Headache, Diarrhea
| 6 | Fever, Cough, Diarrhea
| 7 | Cough, Fatigue
| 8 | Fever, Cough, Headache, Fatigue
| 9 | Fever, Cough, Headache
| 10 | Fever, Cough, Diarrhea, Fatigue

**a.** Assuming the minimum support threshold is 40%, list all the frequent 2-itemsets along with their support values. 

**Solution:** Use the template below to list each frequent 2-itemset and its support values. Replace {A,B} with the actual itemsets and X% with the actual support. Make sure you do not include the non-frequent itemsets.

| Frequent 2-Itemset | Support 
|:---------|:-:
| { A,B } |  X%
| { A,B } |  X%

**b.** Assuming the minimum support threshold is 40%, check whether there are any frequent 3-itemsets in the data. 

**Solution:**

| Frequent 3-Itemset | Support 
|:---------|:-:
| { A,B,C } |  X%
| { A,B,C } |  X%

**c.** Find all association rules from the data that satisfy the minimum support of 40% and minimum confidence of 80%.

**Solution:**

| Association Rule | Support | Confidence 
|:---------|:--------|:-:
| A => B |  X% | Y%
| A => B |  X% | Y%

**2.** Answer each of the following questions about properties of support and confidence measures.

   **a.** Suppose you're given the following support values:

| Itemset | Support 
|:---------|:-:
| { Bread } |  50%
| { Milk } |  30%
| { Bread, Milk} | 25%

  Which rule has higher confidence, {Bread} => {Milk} or {Milk} => {Bread}?

  **b.** Suppose the confidence of the rule {Butter} => {Bread} is 100%. Does it imply that the confidence of the rule {Bread} => {Butter} must also be 100%?

  **c.** If the support of the rule {Butter} => {Bread} is 30%, can the confidence of the rule be less than 30%?

**Solution:**

**a.**



**b.**




**c.**

**3.** In this question, you will k-means clustering to the following set of two-dimensional data points: 

| x1 | x2 
|:---|:-:
| 1 |  1
| 1 |  2
| 2 |  2
| 3 |  2
| 4 |  1

Your goal is to apply kmeans clustering on the data to obtain two clusters, A and B. Assume the initial centroids of the clusters are as follows:

|      Centroid          | x1 | x2 
|:-----------------------|:---|:----
| Centroid for cluster A |  0 | 1
| Centroid for cluster B |  4 | 2

**a.** Calculate the distance between each data point to the two centroids using the Euclidean distance measure and fill in the following table:

**Solution:**

| Data point | distance to Centroid A | distance to Centroid B
|:-----------|:-----------------------|----------------------------------
| (1,1)      |                  | 
| (1,2)      |                  |
| (2,2)      |                  |
| (3,2)      |                  |
| (4,1)      |                  |

**b.** Based on the distance values calculated above, assign each data point to its corresponding cluster. Show the cluster assignment in the table below.

**Solution:**

| Data point | Cluster Assignment (A or B) 
|:-----------|:---------------------------
| (1,1)      |   
| (1,2)      |
| (2,2)      |
| (3,2)      |
| (4,1)      |

**c.** Based on the cluster assignment given in part (b) above, re-compute the centroids of the two clusters.

**Solution:**

| Centroids              |  x1 | x2 
|:-----------------------|:----|:----
| Centroid for cluster A |     | 
| Centroid for cluster B |     |

**d.** Based on the new centroids in part (c), re-compute the distance between each data point to the two centroids using the Euclidean distance measure and fill in the following table:

**Solution:**

| Data point | distance to Centroid A | distance to Centroid B
|:-----------|:-----------------------|----------------------------------
| (1,1)      |                  | 
| (1,2)      |                  |
| (2,2)      |                  |
| (3,2)      |                  |
| (4,1)      |                  |

**e.** Based on the distance values calculated in part (d) above, assign each data point to its corresponding cluster. Show the cluster assignment in the table below.

**Solution:**

| Data point | Cluster Assignment (A or B) 
|:-----------|:---------------------------
| (1,1)      |   
| (1,2)      |
| (2,2)      |
| (3,2)      |
| (4,1)      |

**f.** Compute the sum-of-square errors (SSE) of the k-means clustering solution above.

**Solution:**

SSE =

**4.** Consider the following distance function between 4 data points (A, B, C, and D).

| Distances  | A     | B     | C     | D
|:-----------|:------|:------|:------|:--
| A          | 0     | 5.000 | 3.606 | 4.243
| B          | 5.000 | 0     | 7.071 | 6.083   
| C          | 3.606 | 7.071 | 0     | 7.810  
| D          | 4.243 | 6.083 | 7.810 | 0   

Use the distance matrix shown in the table below to perform MIN (single-link) and MAX (complete link) hierarchical clustering. Show your results by drawing a dendrogram. The dendrogram should clearly show the order in which the points are merged and the y-axis show the distance between pairs of clusters being merged at each iteration.

**Solution:** Save your image as jpg/png files and attach it below. Make sure you upload the image files as well.

Solution for MIN:

<img src="min.jpg">

Solution for MAX:

<img src="max.jpg">

---
**5.** For this question, you will apply a hierarchical clustering approach to detect outliers in data.  

**a.** Download the dataset named stocks.csv from the class website. Use pandas to load the data into a DataFrame object named data. Remove the column named "Date" from data. Display the first 5 rows of data.

**Solution:**

In [1]:
import pandas as pd

data = ...    # load the csv file
data = ...    # remove the Date column

data.head()

,IBM,AAPL,GOOG,MSFT,INTC,FB,AMZN,C
0,196.350006,549.029976,723.251230,27.620001,21.379999,28.000000,257.309998,41.250000
1,195.270004,542.099991,723.671256,27.250000,21.320000,27.770000,258.480011,41.389999
2,193.990005,526.999992,737.971262,26.740000,21.160000,28.760000,259.149994,42.430000
3,193.139999,523.900002,734.751286,26.690001,21.250000,29.420000,268.459991,42.470001
4,192.869995,525.310020,733.301227,26.549999,21.090000,29.059999,266.380005,42.459999

**b.** Compute the correlation between every pair of stocks and display the correlation values.

**Solution:**

In [2]:
corr = ...    # compute correlation
corr          # display the correlation values

,IBM,AAPL,GOOG,MSFT,INTC,FB,AMZN,C
IBM,1.000000,0.694522,0.262351,-0.762699,-0.624763,-0.820702,-0.710095,0.004437
AAPL,0.694522,1.000000,0.611631,-0.767879,-0.845940,-0.761233,-0.569849,-0.138674
GOOG,0.262351,0.611631,1.000000,-0.298800,-0.533491,-0.270900,0.004895,-0.109873
MSFT,-0.762699,-0.767879,-0.298800,1.000000,0.871878,0.946790,0.857449,0.148733
INTC,-0.624763,-0.845940,-0.533491,0.871878,1.000000,0.803406,0.600057,0.278196
FB,-0.820702,-0.761233,-0.270900,0.946790,0.803406,1.000000,0.899568,0.039110
AMZN,-0.710095,-0.569849,0.004895,0.857449,0.600057,0.899568,1.000000,-0.025910
C,0.004437,-0.138674,-0.109873,0.148733,0.278196,0.039110,-0.025910,1.000000

**c.** Apply single-link hierarchical clustering with correlation as evaluation metric. Draw the resulting dendrogram. Based on the dendrogram, which stock is an outlier?

**Solution:**

In [ ]:
from scipy.cluster import hierarchy

Z = hierarchy.linkage( ... , method= ... , metric= ...)
dn = hierarchy.dendrogram(Z,labels= ...,orientation='top')

**d.** Based on the dendrogram obtained in part (c), which stock is likely to be an outlier? Explain your reason clearly.

**Solution:**

---

**6.** Consider the following user ratings data for a streaming music app (where each row is a user and each column is an artist).

| User  | Mozart | Beethoven | Ed Sheeran | Taylor Swift
| :-- | :-- | :-- | :-- | :--
| 1 | 2 | 2 | 4 | 5 
| 2 | 1 | 2 | 5 | 4 
| 3 | 1 | 1 | 4 | 4 
| 4 | 4 | 4 | 2 | 3 
| 5 | 5 | 4 | 2 | 1 
| 6 | ? | 5 | 1 | 1  

Our goal is to predict whether user 6 likes Mozart.

**a.** You will use the baseline model to compute the rating of user 6 for Mozart. Assume the weight of the items, $w_i$, are initialized to 0s and the hyperparameters $\lambda_1$ and $\lambda_2$, are also zero. Iteratively compute the user weights, $w_u$, and item weights, $w_i$, for 4 iterations. You should also compute the global mean, $\mu$.

**Solution:**

The user weights, $w_u$ after 4 iterations are shown below (fill in the table below for the weight of each user):

| User | Iteration 1 | Iteration 2 | Iteration 3 | Iteration 4
| :-- | :-- | :-- | :-- | :-- 
| 1 |   |  |   |   
| 2 |   |  |   |   
| 3 |   |  |   |   
| 4 |   |  |   |   
| 5 |   |  |   |   
| 6 |   |  |   |    

The item weights, $w_i$ after 4 iterations are shown below (fill in the table below for the weight of each item):

| Item | Iteration 1 | Iteration 2 | Iteration 3 | Iteration 4
| :----- | :-- | :-- | :-- | :-- 
| Mozart       |   |   |   |   
| Beethoven    |   |   |   |   
| Ed Sheeran   |   |   |   |   
| Taylor Swift |   |   |   |   


The global mean $\mu$ is XXXX

**b.** Based on the model parameters estimated in part (a), predict user 6's rating for Mozart.

**Solution:**

**c.** Calculate a similarity matrix between the artists (ignoring the ratings given by user 6). Use cosine as your similarity measure. 

**Solution:**

| Similarity | Mozart | Beethoven | Ed Sheeran | Taylor Swift
| :----- | :-- | :-- | :-- | :-- 
| Mozart       |   |   |   |   
| Beethoven    |   |   |   |   
| Ed Sheeran   |   |   |   |   
| Taylor Swift |   |   |   |

**d.** Predict the rating of user 6 for Mozart using the item-based nearest neighbor approach.

**Solution:**