# CSE 482 Exercise 4 (Date: February 1, 2019)

The purpose of this exercise is to help you learn how to use some of the preprocessing functions available in Python. Follow the instructions below to complete the exercise. Save your IPython notebook as exercise4.ipynb and submit it to D2L along with its HTML versions.

**Step 1.** Download the breast cancer dataset, dataR2.csv, from the class Web page. The original data was obtained from https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Coimbra.

**Step 2.** Use pandas to load the CSV file into a DataFrame object named â€œdataâ€.  After the file is successfully loaded, type data.head() to display the first 5 rows of the table. Note that class 1 refers to healthy patients (absence of breast cancer) while class 2 refers to sick (presence of breast cancer).

**Solution:**

In [1]:
import pandas as pd

data = pd.read_csv( ... )
data.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

**Step 3.** Type data.describe() to display summary statistics about the different columns of the table.

**Solution:**

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000,1.551724
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663,0.499475
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000,1.000000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474282,6.881763,269.978250,1.000000
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500,2.000000
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000,2.000000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000,2.000000

**Step 4.** Standardize all the continuous-valued columns (except for Classification column) by subtracting each value with its corresponding column mean and dividing by the column's standard deviation. The standardized values should be stored in a dataframe called Z. Display the first 5 rows of the dataframe.

**Solution:**

In [3]:
Z = 
Z.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,-0.577289,-0.813147,-1.233869,-0.725591,-0.611629,-0.928307,-0.069918,-0.543161,-0.339777
1,1.594902,-1.372795,-0.257184,-0.685066,-0.545872,-0.926394,-0.694338,-0.860481,-0.190398
2,1.532839,-0.887912,-0.301578,-0.547697,-0.462745,-0.452257,1.790232,-0.439752,0.057963
3,0.663963,-1.237933,-0.923106,-0.674041,-0.571729,-0.872237,-0.440036,-0.158181,1.137781
4,1.781089,-1.289009,-0.257184,-0.641958,-0.518830,-1.038178,-0.783482,-0.334899,0.691715

**Step 5.** Compute the maximum and minimum standardized values of each attribute. Store them in a Series object named maxvalues and minvalues, respectively. 

**Solution:**

In [8]:
maxvalues = 
maxvalues

Age            1.967277
BMI            2.190508
Glucose        4.581849
Insulin        4.812180
HOMA           6.138135
Leptin         3.318769
Adiponectin    4.070983
Resistin       5.437492
MCP.1          3.364413
dtype: float64

In [9]:
minvalues = 
minvalues

Age           -2.066791
BMI           -1.835032
Glucose       -1.677817
Insulin       -0.752906
HOMA          -0.611629
Leptin        -1.162682
Adiponectin   -1.245715
Resistin      -0.929408
MCP.1         -1.413085
dtype: float64

**Step 6.** Use the maximum and minimum standardized values to determine which attribute will likely contain abnormally high or abnormally low values. These are values that are more than 5 standard deviations away from their respective mean values. 

**Solution:**

Based on the maximum and minimum Z-score values, the attribute(s) with abnormally high or low values are:

**Step 7.** For this question, you will apply different discretization methods to the â€œHOMAâ€ attribute of the data frame Z. You should apply the discretization methods to the standardized values (Z).

- Apply equal width discretization to produce 5 bins. Display the first 5 discretized values by using the head() function.

**Solution:**

In [5]:
bins = 
bins.head()

0    (-0.618, 0.738]
1    (-0.618, 0.738]
2    (-0.618, 0.738]
3    (-0.618, 0.738]
4    (-0.618, 0.738]
Name: HOMA, dtype: category
Categories (5, interval[float64]): [(-0.618, 0.738] < (0.738, 2.088] < (2.088, 3.438] < (3.438, 4.788] < (4.788, 6.138]]

- Apply equal frequency discretization to produce 5 bins. (Note that the quantiles selected in the lecture slides will produce only 4 bins. Therefore, you need to choose the appropriate quantiles that will produce 5 bins).

**Solution:**

In [6]:
bins = 
bins.head()

0    (-0.613, -0.519]
1    (-0.613, -0.519]
2    (-0.519, -0.425]
3    (-0.613, -0.519]
4    (-0.613, -0.519]
Name: HOMA, dtype: category
Categories (5, interval[float64]): [(-0.613, -0.519] < (-0.519, -0.425] < (-0.425, -0.235] < (-0.235, 0.217] < (0.217, 6.138]]

- Which discretization method do you think is most appropriate for the attribute?

**Solution:**